extends layout


block content
  style.
    body {
      padding: 10px;
    }
    li {
      list-style-type: none;
    }
    .block {
      display: block;
      float: left;
      width: 250px;
      padding: 15px;
      height: 175px;
    }
    .block:nth-of-type(even) {
      background: rgba(0,0,0,0.05);
    }
    .block:nth-of-type(odd) {
      background: rgba(0,0,0,0.02);
    }
    p {
      text-decoration: underline;
    }
    a {
      display: block;
      width: 600px;
      padding: 10px;
    }
    dd {
      font-weight: bold;
    }
  ul
    each app in applications
      li
        a(href='//formula-one.herokuapp.com/recruitment/application/_id:#{app._id}/view')
          = app.raw.name
        .block
          dt Submitted at
          dd
            - var t = new Date(app.raw['last_cache_time'])
            = t.toDateString() + ' ' + t.toLocaleTimeString() + ' (' + app.raw['last_cache_time'] + ')'
          dt Email
          dd
            = app.raw['email'] || 'None, apparently. Weirdo.'
          dt Applying for:
          dd
            = app.raw['applying-for'] || 'None. Whatever.'
        .block
          p I want to:
          dt Run a Hackathon (WildHacks)
          dd
            = app.raw['run-hackathon'] || 'no'
          dt Run a Business Pitch Competition (NUVC)
          dd
            = app.raw['run-business-pitch-competition'] || 'no'
          dt Code (Tech)
          dd
            = app.raw['code'] || 'no'
        .block
          dt Build a Brand (Branding)
          dd
            = app.raw['build-brand'] || 'no'
          dt Teach Entrepreneurship (Launch)
          dd
            = app.raw['teach-entrepreneurship'] || 'no'
          dt Inspire Entrepreneurs
          dd
            = app.raw['inspire-entrepreneurs'] || 'no'
          dt Expand EPIC's Reach (BizDev)
          dd
            = app.raw['expand-epic-reach'] || 'no'
